@font-face { font-family: 'Alpha Slab One'; src: url('../resources/AlfaSlabOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Ultra'; src: url('../resources/Ultra-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Anton'; src: url('../resources/Anton-Regular.ttf') format('truetype'); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
